<%- include("partials/header") -%>

<h1>Home</h1>
<p><%= paragrafo %></p>
<% posts.forEach(function(post){ %>
    <h1> <%=post.titulo%> </h1>
    <p> <%=(post.corpo).slice(0,100) + " ...";%> <a href="/posts/<%= post.titulo %>">Read more</a></p>

<%}); %>


<%- include("partials/footer") -%>
